<div class="row header-part">
  <div class="col-sm-12">
    <span class="header">Today's Orders</span>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <img src="/assets/images/dashboard/awaiting-collection.png" class="image" alt="">
              <div class="card-container">
                <div class="card-title">
                  Awaiting Review
                </div>
                <div class="card-description">
                  <span class="card-number">14 </span> <span class="card-description-content"> orders</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img src="/assets/images/dashboard/awaiting-collection.png" class="image" alt="">
              <div class="card-container">
                <div class="card-title">
                  Awaiting Collection
                </div>
                <div class="card-description">
                  <span class="card-number">55 </span> <span class="card-description-content"> orders</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img src="/assets/images/dashboard/awaiting-collection.png" class="image" alt="">
              <div class="card-container">
                <div class="card-title">
                  Being Delivered
                </div>
                <div class="card-description">
                  <span class="card-number">87 </span> <span class="card-description-content"> orders</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="card details">
              <div class="card-container">
                <div class="card-title">
                  Admins
                </div>
                <div class="card-description">
                  <span class="card-description-content">total</span><span class="card-number">24</span> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card details">
              <div class="card-container">
                <div class="card-title">
                  Orders
                </div>
                <div class="card-description">
                  <span class="card-description-content">total</span><span class="card-number">345</span> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card details">
              <div class="card-container">
                <div class="card-title">
                  Drivers
                </div>
                <div class="card-description">
                  <span class="card-description-content">total</span><span class="card-number">21</span> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card details">
              <div class="card-container">
                <div class="card-title">
                  Orders
                </div>
                <div class="card-description">
                  <span class="card-description-content">active</span><span class="card-number">32</span> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="/assets/images/dashboard/awaiting-collection.png" class="image" alt="">
          <div class="card-container">
            <div class="card-title">
              Admin Activity
            </div>
            <div class="card-description">
              <span class="card-number">87 </span> <span class="card-description-content"> orders</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card delivered">
      <img src="/assets/images/dashboard/awaiting-collection.png" class="image" alt="">
      <div class="card-container">
        <div class="card-title">
          Delivered
        </div>
        <div class="card-description">
          <span class="card-number">172 </span> <span class="card-description-content"> orders</span>
        </div>
      </div>
    </div>
  </div>
</div>